@import "tw-animate-css";
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  .theme {
    --font-heading: var(--font-sans);
    --font-sans: var(--font-sans);
  }
  :root {
    --background: #fff1d6;
    --foreground: #111827;
    --card: #FFFFFF;
    --card-foreground: #111827;
    --popover: #FFFFFF;
    --popover-foreground: #111827;
    --primary: #F97316;
    --primary-foreground: #FFFFFF;
    --secondary: #FB923C;
    --secondary-foreground: #FFFFFF;
    --accent: #FACC15;
    --accent-foreground: #111827;
    --muted: #FFE8B6;
    --muted-foreground: #6B7280;
    --destructive: #EF4444;
    --border: #FFD896;
    --input: #FFE8B6;
    --ring: #F97316;
    --chart-1: oklch(0.87 0 0);
    --chart-2: oklch(0.556 0 0);
    --chart-3: oklch(0.439 0 0);
    --chart-4: oklch(0.371 0 0);
    --chart-5: oklch(0.269 0 0);
    --radius: 0.625rem;
    --sidebar: oklch(0.985 0 0);
    --sidebar-foreground: oklch(0.145 0 0);
    --sidebar-primary: oklch(0.205 0 0);
    --sidebar-primary-foreground: oklch(0.985 0 0);
    --sidebar-accent: oklch(0.97 0 0);
    --sidebar-accent-foreground: oklch(0.205 0 0);
    --sidebar-border: oklch(0.922 0 0);
    --sidebar-ring: oklch(0.708 0 0);
  }
  * {
    border-color: var(--border);
    outline-color: color-mix(in srgb, var(--ring) 50%, transparent);
  }
  body {
    @apply bg-background text-foreground;
  }
  html {
    @apply font-sans;
  }
}